

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
   
    max-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  .main-container{
    height: 100%;
    display: grid;
    grid-template-columns:1fr 4fr;
  }
  .nav{
    font-size: 20px;
    gap: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column: 90%;
    grid-row: 1/2;
   
   
    }
  .searchbar{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;


  }

  .names{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
  }
  .dark{
    font-size: 20px;
   font-weight:1000;
  }
  input{
    width: 80%;
    height: 50%;
    border-radius: 4em;
    background-color: lightcyan;
  }
  .svg{
    max-width: 5%;
      height: 100%;
      min-width: auto;
      min-height: auto;
  }
  .svgs{
    max-width: 5%;
      height: 100%;
      min-width: auto;
      min-height: auto;
  }
  .noti
     {
      max-width:10%;
      height: 80%;
      border-radius: 60%;
    }
  
  .notification{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
   
    
  }
 
  
  .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
    align-items: center;
  }
  .buttons{
    display: flex;
    justify-content: center;
    flex: 1 1 0;
    flex-wrap: wrap;
  }
.button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.sidebar{   
  background-color: #22d3ee;
 grid-template-columns:1fr ;
 

display: grid;
grid-row:1/5;
grid-column: 1/2;
gap: 40px;

}
.section1 > li, .section2 > li{
    
  height: 3rem;
 padding-left: 70px;
  
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  gap: 1.5rem;


}

.header{
 
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}
.header img{
  max-width: 20%;
  height: 100%;
  min-width: auto;
  min-height: auto;
 
}


.sidebar p{
  font-size: 20px;
}
.svgss{
  max-width: 100%;
  height: 100%;
  min-width: auto;
  min-height: auto;
}
.container{
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
 
display: grid;   
grid-column: 2/-1;
grid-row: 2/5;
grid-template-columns: repeat(3,1fr);
grid-template-rows:repeat(auto-fit,minmax(100px,1fr)) ;
height: 85vh;
padding: 20px;
grid-row-gap: 50px;
grid-column-gap: 50px;


}

.articles{
  
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 100%;
  width: auto;
  overflow: hidden;
  transition: 1s;
  
  
}
.articles:hover{
  transform: scale(1.1);
  background: #22d3ee;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}
.news{
  display: grid;
  grid-row: 1/5;
  grid-column: 3/3;
  
  
}

.announcements{
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;  
  padding: 30px;
 
 
}
.announcements p{
  gap:20px;
  border-bottom: 4px solid black;
}

.trending{
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  grid-row: 4/4;
  grid-column:1/3;
}
.picture{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.picture img{
  
    max-width: 80%;
    height: 80%;
    min-width: auto;
    min-height: auto;
    
   
  }
  
.picture li{
  list-style-type: none;
  
}
.trending{
  border: 3px solid red;
}
.trending ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul li {
  list-style: none;
  margin: 0 15px;
}

.trending ul li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

.trending ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.trending ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.trending ul li a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}