

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
   
    max-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  .main-container{
    display: grid;
    grid-template-columns:1fr 4fr;
  }
  .nav{
    font-size: 20px;
    gap: 2em;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/4;
   
    }
  .searchbar{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;


  }

  .names{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
  }
  .dark{
    font-size: 20px;
   font-weight:1000;
  }
  input{
    width: 80%;
    height: 50%;
    border-radius: 4em;
    background-color: lightcyan;
  }
  .svg{
    max-width: 5%;
      height: 100%;
      min-width: auto;
      min-height: auto;
  }
  .svgs{
    max-width: 5%;
      height: 100%;
      min-width: auto;
      min-height: auto;
  }
  .noti
     {
      max-width:10%;
      height: 80%;
      border-radius: 60%;
    }
  
  .notification{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
   
    
  }
 
  
  .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
    align-items: center;
  }
  .buttons{
    display: flex;
    justify-content: center;
    flex: 1 1 0;
    flex-wrap: wrap;
  }
.button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.sidebar{
  
 
display: grid;
grid-row:1/4;
gap: 40px;
background-color: beige;
width: 100%;
height: 100vh;

margin: 0 auto


}
.section1 > li, .section2 > li{
    
  height: 3rem;
 padding-left: 70px;
  
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  gap: 1.5rem;

}

.header{
 
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}
.header img{
  max-width: 20%;
  height: 100%;
  min-width: auto;
  min-height: auto;
 
}


.sidebar p{
  font-size: 20px;
}
.svgss{
  max-width: 100%;
  height: 100%;
  min-width: auto;
  min-height: auto;
}
.container{
display: grid;   
grid-column: 2/4;

}


